### all file path specifications in here are relative to THIS file!
### internally we use pathlib so please specify all directories in linux style ( / instead of \)

[training]
#q-values at which the model will be trained (only uses first column)
q_values_file = 'dip.txt'

training_data_file = '../output/training_data.txt'
validation_data_file = '../output/validation_data.txt'

training_labels_file = '../output/training_labels.txt'
validation_labels_file = '../output/validation_labels.txt'

number_of_training_samples =  200000
number_of_validation_samples = 50000

random_seed = 1

model_file = 'example_model.hdf5'

number_of_epochs = 60

log_dir = '../output/Graph'

[film-properties]
# Comma-separated values for each film layer, from top to bottom (including the substrate layer)
# Thickness range in m
min_thickness = 20e-10, 2.8e-10, 1
max_thickness = 300e-10, 30e-10, 1

# RMS roughness range in m^2
min_roughness = 0, 2.5e-10, 1e-10
max_roughness = 60e-10, 2.5e-10, 1e-10

# Scattering length density real part in 1/m^2
min_scattering_length_density = 1e+14, 17.8e+14, 20.1e+14
max_scattering_length_density = 14e+14, 17.8e+14, 20.1e+14

[prediction]
experimental_data_file = 'dip.txt'

prediction_data_file = '../output/prediction_data.txt'
prediction_labels_file = '../output/prediction_labels.txt'

